<h2 class="header test">Testimonials</h2>

<div class="list-group files-list">
    <div *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <div class="col col-md-8 text-col">
                <h3 class="mb-1">{{item.payload.doc.data().testimonialName}}</h3>
                <h5 class="mb-1">{{item.payload.doc.data().userName}}</h5>
                <p class="mb-1">{{item.payload.doc.data().textfield}}</p>
            </div>
        </div>
    </div>
</div>