<app-header></app-header>
<div class="hero">
  <div class="buttonArea d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-light">Create by students for students</h1>
    <div>
      <button class="btn btn-light btn-lg heroButton m-3">Login</button>
      <button class="btn btn-light btn-lg heroButton m-3">Register</button>
    </div>
  </div>
</div>

<div class="aboutSection">
  <div class="d-flex align-items-center justify-content-center">
    <h2 class="mt-5">About</h2>
    
  </div>
</div>
