<!-- Hero image with login buttons -->
<div class="hero">
  <div class="buttonArea d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-light heroTitle text-center">A learning content platform built by coding students for coding students</h1>
    <div>
      <a href='/login' class="btn btn-light btn-lg m-3">Login</a>
      <a href='/registration' class="btn btn-light btn-lg m-3">Register</a>
    </div>
  </div>
</div>

<!-- product description -->
<div class="productPreview flex-wrap d-flex flex-row align-items-center justify-content-center p-5">
  <img id="productShot" class="shadow mr-4 mb-3" src="https://firebasestorage.googleapis.com/v0/b/techwarriors-1c02e.appspot.com/o/Website%20assets%2FprojectPreview.png?alt=media&token=c7493819-3f04-4161-bd47-a360d0c7cb6e" alt="">
  <div>
    <h3 class="orange">Collaborating has never been easier</h3>
    <ul>
      <li>Share files and videos with classmates</li>
      <li>Comment on content and add your own notes</li>
      <li>Find learning content by topics</li>
      <li>Available exclusively for Midland University students</li>
    </ul>
  </div>
</div>
<!-- About section -->
<div class="aboutSection d-flex align-items-center justify-content-center p-5">
  <div class="d-flex flex-column align-items-center justify-content-center aboutContent m-6">
    <h2 class="mb-5 orange">About Tech Warrirors</h2>
    <div class="d-flex flex-row">
      <img class="shareIcon" src="https://firebasestorage.googleapis.com/v0/b/techwarriors-1c02e.appspot.com/o/Website%20assets%2Fshare-flat.png?alt=media&token=b569c536-2469-477c-ae32-7f5be4f6103e" alt="">
      <div class="ml-5">
        <p>Tech Warriors is a content learning website built by Midland Code Academy students for students. Born out of the need for content curated to their specific code school curriculum, Code Academy students helped build a place where they can share digital learning content with each other.</p>
        <a href='https://code.midlandu.edu/' class="btn btn-light btn-md mt-3">Visit Midland Code Academy</a>
      </div>
    </div>
  </div>
</div>
<p id="slateTitle">Request Additional Information below: </p>
<div class="slate" id="form_62a8d711-4396-4817-9157-2239fe9cada5">Please Refresh</div>
<app-testimonials></app-testimonials>