<app-header></app-header>
<!-- Hero image with login buttons -->
<div class="hero">
  <div class="buttonArea d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-light heroTitle text-center">A learning content platform built by coding students for coding students</h1>
    <div>
      <button class="btn btn-light btn-lg m-3">Login</button>
      <button class="btn btn-light btn-lg m-3">Register</button>
    </div>
  </div>
</div>

<!-- product description -->
<div class="productPreview flex-wrap d-flex flex-row align-items-center justify-content-center p-5">
  <img id="productShot" class="shadow mr-4" src="https://firebasestorage.googleapis.com/v0/b/midland-techwarriors.appspot.com/o/projectPreview.png?alt=media&token=7a8ecd52-0dca-4507-87b4-763b89b9a00e" alt="">
  <div>
    <h3 class="orange">Collaborating has never been easier</h3>
    <ul>
      <li>Share files and videos with classmates</li>
      <li>Comment on content and add your own notes</li>
      <li>Find learning content by topics</li>
      <li>Available exclusively for Midland University students</li>
    </ul>
  </div>
</div>
<!-- About section -->
<div class="aboutSection d-flex align-items-center justify-content-center p-5">
  <div class="d-flex flex-column align-items-center justify-content-center aboutContent m-6">
    <h2 class="mb-5 orange">About</h2>
    <div class="d-flex flex-row">
      <img class="shareIcon" src="https://firebasestorage.googleapis.com/v0/b/midland-techwarriors.appspot.com/o/share-flat.png?alt=media&token=7aa0aefe-502c-4f3a-85a8-b72a5a71b898" alt="">
      <div class="ml-5">
        <p>Tech Warriors is a content learning website built by Midland Code Academy students for students. Born out of the need for content curated to their specific code school curriculum, Code Academy students helped build a place where they can share digital learning content with each other.</p>
        <button class="btn btn-light btn-md mt-3">Learn more about Midland Code Academy</button>
      </div>
    </div>
  </div>
</div>

<app-form-rfi></app-form-rfi>
<app-footer></app-footer>
