.hero{
    height: 400px;
    overflow: hidden;
    background-color: black;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/midland-techwarriors.appspot.com/o/MUCodeAcademy-3473.jpg?alt=media&token=f59e839b-5720-4556-8693-319ef7fc9aa1');
    background-size: cover;
    background-position: center;
}

.heroButton{

}

.buttonArea{
    height: 400px;
}

.aboutSection{
    background-color: #0e2340;
    height: 300px;
    color: white;
}