<div class="container mt-3">
    <div class="title h3 mt-4">{{items.title}}</div>
    <a class="btn btn-outline-success btn-lg mt-2 mb-2" href="{{items.files[0].downloadURL}}" target="_blank">View
        File</a>
    <p class="description">{{items.description}}</p>

</div>


<div class="comments container center">
    <div class="font-weight-bold">Comments</div>
    <div *ngFor="let comment of comments">
        <div class="">{{comment.userName}}</div>
        <div class="commentDisplay">{{comment.userInput}}</div>
        <hr>
    </div>
</div>

<div class="w-100 center">
<form class="addUserComment container center mt-3 mb-5">
    <div class="inputField">
        <input class="p-1" placeholder="Add a comment" [(ngModel)]="newComment.userInput" name="userInput">
    </div>
    <button class="btn btn-outline-primary mt-3" color="primary" (click)="createComment()">Submit</button>
</form>
</div>