<app-header></app-header>
<br><br>
<h3 class="center">Welcome, {{firstName}}!</h3>
<br><br>
<table class="contentTable" mat-table [dataSource]="dataSource"  class="mat-elevation-z7">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell  *matHeaderCellDef> Title</th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th  mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <!-- URLColumn -->
  <ng-container matColumnDef="url">
    <th  mat-header-cell *matHeaderCellDef> Read More </th>
    <td mat-cell *matCellDef="let element"> {{element.url}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>