<app-header></app-header>
  <div>
    Tech Warriors is a content learning website built by Midland Code Academy students for students. The file sharing platform enables students to share curated content and videos in one place. 
    <ul>
    <li>Collaborative file sharing platform</li>
    <li>Exclusively for Midland University students</li>
    <li>A social way for students to help students learn</li>
    </ul>
  </div>

<div>
  <img src="./assets/MUCodeAcademy-6760.jpg" alt="Trulli" width="1000" height="666">
</div>