:host {
  display: block;
}
span {
  display: inline-block;
  width: 25px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.form-display {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
} 

textarea {
  display:block;
  margin:1em 0;
}
.header{
  text-align: center;
  background-color: #0e2340;
  color: #ffffff;
}

.dim {
  filter: grayscale(100%);
}