<app-header></app-header>

<h1>Registration</h1>

<div>
  <div>
    <form [formGroup]="this.regService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>First Name</label>
        <input formControlName="firstName" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.firstName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.firstName.errors">
          This field is required!
        </div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input formControlName="lastName" class="form-control" [ngClass]="{'is-invalid' :submitted && formControls.lastName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.lastName.errors">
            This field is required!
          </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" class="form-control" type="email" [ngClass]="{'is-invalid' :submitted && formControls.email.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
            You must enter a valid email address.
          </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input formControlName="password" class="form-control" type="password" [ngClass]="{'is-invalid' :submitted && formControls.password.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.password.errors">
            Password must be at least 6 characters in length.
          </div>
      </div>
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
    <div *ngIf="showSuccessMessage">
      Submitted Successfully.
    </div>
  </div>
</div>

<div>
  {{formControls.firstName}}
</div>

<!-- <form #register="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">First Name</label>
    <br>
    <input required minlength="2" maxlength="15" type="text" #firstName="ngModel" class="form-control" id="firstName" placeholder="First Name" [(ngModel)]="register.firstName" name="firstName">
    Remove this: {{register.firstName}}
    <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
      First Name must be between 2 and 15 characters.
    </div>
  </div>

  <div>
    <label for="lastName">Last Name</label>
    <br>
    <input required minlength="2" maxlength="15" type="text" #lastName="ngModel" class="form-control" id="lastName" placeholder="Last Name" [(ngModel)]="register.lastName" name="lastName">
    Remove this: {{register.lastName}}
    <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
      Last Name must be between 2 and 15 characters
    </div>
  </div>

  <div>
    <label for="email">Email</label>
    <br>
    <input required email type="email" #email="ngModel" class="form-control" id="email" placeholder="Email" [(ngModel)]="register.email" name="email">
    Remove this: {{register.email}}
    <div *ngIf="email.error && (email.dirty || email.touched)">
      Email is invalid
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <br>
    <input required password type="password" #password="ngModel" classe="form-control" id="password" placeholder="Password" [(ngModel)]="register.password" name="password">
    Remove this: {{register.password}}
    <div *ngIf="password.error && (password.dirty || password.touched)">
      Please enter a valid password.
    </div>
  </div>

  <button *ngIf="password.valid && email.valid && lastName.valid && firstName.valid" type="submit">Submit</button>
</form> -->