#delay{
    text-decoration: none;
    color: black;
}
.header{
    text-align: center;
    background-color: #0e2340;
    color: #ffffff;
  }
.container{
  margin-left: calc(50vw - 100px);    
  padding-bottom: 10px;
}
.error{
  color: red;
}
p {
  border: 1px solid grey;
  padding: 5px;
  width: 69px;
  color: grey;
}